---
# only front matter, no content here
---

@import "minimal-mistakes";

/* Your overrides below */
.page__hero--overlay {
  height: 250px;
}

.page__hero-image {
  max-height: 250px;
  object-fit: cover;
}
